<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Regression Test Suite">
        <classes>
            <class name="testScripts.TC_AddUsed_001"/>
            <class name="testScripts.TC_AddUsed_002"/>
            <class name="testScripts.TC_GetUserProfile_002"/>
        </classes>
    </test>
</suite>